<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/base.xml" />
    <springProperty scope="context" name="appName" source="spring.application.name" />
    <springProperty scope="context" name="orgName" source="spring.application.org" />

    <appender name="LOKI" class="com.github.loki4j.logback.Loki4jAppender">
        <http>
            <url>http://otel-collector:4318/v1/traces</url>
        </http>
        <format>
            <label>
                <pattern>org=${orgName},application=${appName},host=${HOSTNAME},level=%level</pattern>
            </label>
            <message>
                <pattern>${FILE_LOG_PATTERN}</pattern>
            </message>
            <sortByTime>true</sortByTime>
        </format>
    </appender>

    <root level="INFO">
        <appender-ref ref="CONSOLE" />
        <springProfile name="loki">
            <appender-ref ref="LOKI" />
        </springProfile>
    </root>
</configuration>